<input type="text" ng-model="nameFilter" placeholder="Search..."/ class="form-control">
<table class="table table-striped">
<thead thead-dark>
  <tr>
    <th colspan="4">Hacker News</th>
    <th>
      <span ng-click="sortStories('time')">
          Date <span class="glyphicon glyphicon-sort"></span>
      </span>
    </th>
    <th>
      <span ng-click="sortStories('score')">
          Score <span class="glyphicon glyphicon-sort"></span>
      </span>
    </th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="story in stories | filter: searchFilter | orderBy : myOrderBy : IsDesc">
    <td>
      {{$index + 1}}
    </td>
    <td ng-class="{item : selected==$index}" ng-mousemove="setSelected($index)">
      <a href="{{story.url}}">
      {{story.title}}
    </a>
    <br/>
    Date: {{story.time | date}}
    <br/>
    Score: {{story.score}}
    </td>
  </tr>
</tbody>
</table>